<ion-header>
    <ion-navbar>
        <ion-title>{{workout.name}}的内容</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
    <ion-item-sliding *ngFor="let movement of movements">
        <ion-item>
            <ion-label>{{movement.name}}</ion-label>
        </ion-item>
        <ion-item-options side="right">
            <button ion-button expandable color="danger" (click)="removeMovement(movement)">
                删除
            </button>
        </ion-item-options>
    </ion-item-sliding>
    </ion-list>

</ion-content>
