<ion-header>
  <ion-navbar>
    <ion-title>
      训练动作
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>已有动作</ion-list-header>
    <ion-item *ngFor="let movement of movements">
      <ion-icon name="expand" item-right (click)="selected = movement.id" *ngIf="selected != movement.id"></ion-icon>
      <ion-label item-content *ngIf="!movement.detailShow">{{movement.name}}</ion-label>
      <ion-card *ngIf="selected == movement.id" (click)="selected == -1" item-left>
        <ion-card-header>
          {{movement.name}}
        </ion-card-header>
        <ion-card-content>
          {{movement.description}}
        </ion-card-content>
        <ion-row>
          <ion-col offset-66>
            <button ion-button icon-left clear small (click)="showModal(movement)">
              <ion-icon name="settings"></ion-icon>
              <div>修改动作</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
